<template>
  <div></div>
</template>

<script>
export default {
  name: "Categoriesmanager",
  data() {
    return {
      selectedCategory: "",
      newCategoryName: "",
    };
  },
  methods: {
    createNewCategory() {},
    deleteCategory() {},
    saveAndCloseCategoriesWindow() {},
    cancelCategoriesWindow() {},
  },
};
</script>

<style scoped></style>
