<template>
  <v-form ref="form" lazy-validation v-if="!isUserLoggedIn">
    <v-container>
      <v-layout class="justify-center">
        <v-flex xs12 md4>
          <h1 class="display-1 font-weight-bold">{{ translations.title }}</h1>
          <v-text-field
            v-model="user.userMail"
            label="E-mail"
            :rules="emailRules"
            required
          ></v-text-field>
          <v-text-field
            :append-icon="showPassword ? 'visibility' : 'visibility_off'"
            :type="showPassword ? 'text' : 'password'"
            :label="translations.password"
            class="input-group--focused"
            @click:append="showPassword = !showPassword"
            required
            v-model="user.userPassword"
            :rules="passwordRules"
          ></v-text-field>
          <v-btn
            :disabled="loading || validation"
            color="success"
            @click="submitRegister"
          >
            {{ translations.submitButton }}
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import database from "@/database/userdata";
import lang from "@/database/lang";
import router from "@/router/router";

export default {
  name: "Register",
  data() {
    return {
      user: {
        userId: "",
        userMail: "",
        userPassword: "",
      },
      showPassword: false,
      loading: false,
      passwordRules: [
        (v) => !!v || this.translations.passwordRequired,
        (v) => (v && v.length >= 8) || this.translations.passwordValid,
      ],
      emailRules: [
        (v) => !!v || this.translations.emailRequired,
        (v) => /.+@.+/.test(v) || this.translations.emailValid,
      ],
      translations: {},
    };
  },
  computed: {
    ...mapState("userData", ["userData"]),
    ...mapState("language", ["currentLanguage"]),
    ...mapState(["isUserLoggedIn"]),
    validation() {
      return !(
        this.user.userMail !== "" &&
        this.user.userPassword !== "" &&
        this.$refs.form.validate()
      );
    },
  },
  methods: {
    ...mapMutations(["setIsUserLoggedIn"]),
    ...mapMutations("userData", ["setRegisteredUser"]),
    ...mapMutations("alerts", ["resetAlerts"]),
    ...mapActions("alerts", ["toggleSuccessAlert", "toggleErrorAlert"]),
    submitRegister() {
      this.resetAlerts();
      this.loading = true;
      if (this.isUserExist()) {
        this.registerFail();
      } else {
        this.registerSuccess();
      }
    },
    isUserExist() {
      let result = false;
      const usersArray = database.users;
      for (let i = 0; i < database.users.length; i++) {
        if (usersArray[i].userMail === this.user.userMail) {
          result = true;
        }
      }
      return result;
    },
    registerSuccess() {
      this.addUserToDatabase();
      this.toggleSuccessAlert(this.translations.alertSuccess);
      this.setIsUserLoggedIn(true);
      router.push("/");
    },
    registerFail() {
      this.toggleErrorAlert(this.translations.alertError);
      this.loading = false;
    },
    createUniqueId() {
      this.user.userId = database.users.length;
    },
    addUserToDatabase() {
      this.createUniqueId();
      this.setRegisteredUser(this.user);
      database.users.push(this.userData);
    },
  },
  created() {
    let t = this.translations;
    let l = lang[this.currentLanguage];
    t.password = l.inputs.password;
    t.alertError = l.alerts.error.register;
    t.alertSuccess = l.alerts.success.register;
    t.submitButton = l.buttons.submit;
    t.title = l.titles.register;
    t.emailValid = l.inputs.register.emailValid;
    t.emailRequired = l.inputs.register.emailRequired;
    t.passwordValid = l.inputs.register.passwordValid;
    t.passwordRequired = l.inputs.register.passwordRequired;
  },
};
</script>

<style scoped></style>
