<template> </template>

<script>
export default {
  name: "Createtodo",
  data() {
    return {
      todo: {
        title: "",
        description: "",
        deadline: "",
        points: "",
        category: "",
        duration: "",
        importance: "",
      },
      todoTemplate: {},
    };
  },
  methods: {
    createTodo() {},
    useTemplate() {},
    createSuccess() {},
    createError() {},
  },
  beforeMount() {
    //import template data from store
  },
};
</script>

<style scoped></style>
