<template>
  <v-app>
    <Header :key="reRenderCounter"></Header>
    <v-content class="text-xs-center mt-4">
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </v-content>
    <Footer></Footer>
  </v-app>
</template>

<script>
import Footer from "@/components/Footer";
import Header from "@/components/header/Header";
import { mapState } from "vuex";

export default {
  name: "App",
  components: {
    Footer,
    Header,
  },
  computed: mapState(["reRenderCounter"]),
};
</script>

<style scoped></style>
